---
name: self-test
on:
  - push
  - pull_request

jobs:
  self-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Self test 'matrix' action
        uses: ./matrix
